<div id="popover-{{ line_item_id }}-{{ line_item_index }}" class="popover__wrapper" role="tooltip">
    <header class="popover__header">
        <p class="popover__title" id="quantity-modal-title">
          {{ settings.buy_more_save_modal_text }}
        </p>
      </header>
    <main class="popover__content" id="quantity-modal-content">
        <div class="popover__content-button">
            <span class="popover__content-button--label">{{ settings.buy_more_save_button_label }}</span>
            {{ settings.buy_more_save_block_buy }} <span data-buy-more-modal-quantity-1 >2</span>, {{ settings.buy_more_save_block_save }} $<span data-buy-more-modal-value-1 >00</span>!
            <span class="popover__content-button--percent"><span data-buy-more-modal-percent-1 >00</span>% {{ settings.buy_more_save_block_off }}</span>
        </div>
        <div class="popover__content-button">
          <span class="popover__content-button--label">{{ settings.buy_more_save_button_label }}</span>
          {{ settings.buy_more_save_block_buy}} <span data-buy-more-modal-quantity-2 >4</span>, {{ settings.buy_more_save_block_save }} $<span data-buy-more-modal-value-2 >00</span>!
          <span class="popover__content-button--percent"><span data-buy-more-modal-percent-2 >00</span>% {{ settings.buy_more_save_block_off }}</span>
        </div>
      </main>
</div>