{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
<div class="micro-modal micromodal-slide" id="mobile-cart-upsell" aria-hidden="true">
    <div class="micro-modal__overlay" tabindex="-1" data-micromodal-close style="z-index: 1001;">
      <div class="micro-modal__container upsell-modal-cart" role="dialog" aria-modal="true" aria-labelledby="mobile-blood-draw-modal-title">
        <header class="micro-modal__header">
          <h2 class="micro-modal__title" id="mobile-cart-upsell-title">
            {%- assign productUpsell = product.metafields.accentuate.get_more_with | capitalize -%}
          </h2>
          <button class="micro-modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        
        <main class="micro-modal__content mobile-upsell-micromodal" id="mobile-blood-draw-modal-content">
            
         <div class="modal-content-upsell"></div>

          <div class="modal-upsell-cart">
            <div class="modal-content">
              <h1 class="product-title"></h1>
              
                    <!-- TrustBox widget - Product Mini Multisource -->
                    <div style="pointer-events: none;max-width: 174px;" class="trustpilot-widget" data-locale="en-US" data-template-id="577258fb31f02306e4e3aaf9" data-businessunit-id="5df96c4c7890b800016789c7" data-style-height="24px" data-style-width="100%" data-theme="light" data-tags="SelectedReview" data-sku="ULTIMATE-PLAN-SKU" data-star-color="#0AA9FF" data-font-family="Open Sans" data-text-color="#232D37">
                      <a href="https://www.trustpilot.com/review/insidetracker.com" target="_blank" rel="noopener">Trustpilot</a>
                  </div>
                  <!-- End TrustBox widget --> 
              <h2 class="product-price-modal"></h2> 
              <div class="selector-wrapper" data-option-blood-draw="" style="display: block;">
                        <label class="modal-label" for="SingleOptionSelector-0" data-for="Option1">
                          Customize your plan
                        </label>
                        
                        <div class="variant-upsell-modal-container">
                          
                            
                              <div class="variant-box blood-box-option selected">  
                                {% render 'blood-icon-upsell'%} 
                                Blood draw in lab
                                <span class="mobile-variant-included">Included</span>
                              </div>
                          
                              <div class="variant-box mobile-box-option">  
                                {% render 'mobile-icon-upsell'%}
                                Mobile blood draw
                                <span class="mobile-variant-price"></span>
                              </div>
                            
                          
                        </div>
    
                        <select class="modal-selectors" id="select-modal-options" data-index="option1" name="options[Blood Draw]" data-option-position="Option1" quantity="1" style="display: none;">
                          
                            <option class="blood-option" value="" selected="selected"></option>
                          
                            <option class="mobile-option" value=""></option>
                          
                        </select>
                   
                        
                      </div>
                      <div class="line-item-property__modal">

                        <div class="line-item-input">
                          <label for="address_country_new">{{ 'customer.addresses.country' | t }}</label>
                          <select id="address_country_new" class="modal-upsell-select"  name="properties[country]" data-default="{{form.country}}" style="border: 0;">{{ country_option_tags }}</select>
                       </div>
                      <div class="line-item-input"> 
                         <label for="address_province_new">{{ 'customer.addresses.province' | t }}</label>
                         <select id="address_province_new" class="modal-upsell-select" class="address_form" name="properties[province]" data-default="{{form.province}}"></select>
                      </div>
                   
                    </div>
                    <div class="modal-upsell-quantity">
            
                      <div class="product-form__controls-group">
                        <div class="">
                          <label class="label-modal" for="Quantity-product-template">Qty</label>
                          <input class="modal-upsell-quantity-input" type="number"  name="quantity" value="1" min="1" pattern="[0-9]*" class="product-form__input product-form__input--quantity">
                        </div>
                      </div>
                    
        
                      <div class="product-form__controls-group product-form__controls-group--submit">
                        <div class="product-form__item product-form__item--submit">
                          <button type="submit" name="add" aria-label="Add to cart" class="button button--primary product-form__cart-submit
                            
                            " data-add-to-cart="" data-submit-button="" onclick="ga(" send",="" {="" hittype:="" "event",="" eventcategory:="" "added="" to="" cart",="" eventaction:="" "click",="" eventlabel:="" "ultimate",="" });"="">
                            <span data-add-to-cart-text="" data-submit-button-text="">
                              
                                Add to cart
                              
                            </span>
                            <span class="hide" data-loader="">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spinner" viewBox="0 0 20 20"><path d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z" fill="#919EAB"></path></svg>
                            </span>
                          </button>
          
                          
                          
                        </div>
                      </div>
                    </div>
                    <div class="info-message info-message__us modal-location-one">
                      {% render'icon-globe' %}
                           <div class="info-message__inner">
                             Available in New York, New Jersey, and Rhode Island only through mobile blood draw.
                           </div>
                         </div>
            </div>
            <div class="modal-image-div">
              <span class="most-popular-upsell most-popular-upsell-text">  
              </span>
              <img class="modal-upsell-image" src=""> 
              <a  class="viewdetails" >
                See full details
                </a> 
            </div>
      </div>

        </main>
        <footer class="micro-modal__footer upsell-cart-modal-footer">        
        
        </footer>
      </div>
    </div>
</div>
