{% render 'modal-quantity-max-cart' %}
{% render 'modal-us-blood-draw-cart' %}
{% render 'modal-can-blood-draw-cart' %}
{% render 'modal-inner-age-score' %}
{% render 'modal-cart-upsell' %}


<script>
  let line_item_discounts = [
  {% for item in cart.items %}
    {% assign unit_price = item.variant.product.price | money_without_currency %}
      {
        'variant_id': '{{ item.variant_id }}',
        'discounts': [
          {%- for tag in item.product.tags -%}
              {%- if tag contains "discount" -%}
                {%- assign discount = tag | remove: "discount:_" -%}
                {%- assign discount = discount | split: "_" -%}
                {%- assign get_percent = discount[1] | times: unit_price -%}
                {
                  'quantity': '{{ discount[1] }}',
                  {%- if discount[0] == "value" -%}
                  'value': '{{ discount[2]}}',
                  'percent': '{{ discount[2] | divided_by: get_percent | times: 100 | round: 2}}'
                  {%- elsif discount[0] == "percentage" -%}
                    'value': '{{ discount[2] | plus: 0.00 | divided_by: 100 | round: 2 | times: get_percent  }}',
                    'percent': '{{ discount[2]}}'
                  {%- endif -%}
                }{% unless forloop.last %},{% endunless %}
              {%- endif -%}
            {%- endfor -%}
        ]
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ]
</script>

<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template" data-ajax-enabled="{{ section.settings.cart_ajax_enable }}">
  <div data-cart-wrapper>
    <div class="cart-header">
      <div class="cart-mobile-summary">
      <h2 class="cart-mobile-text">Show order summary ({{ cart.currency.iso_code }}) </h2> 
     
      <h2 class="cart-subtotal__price cart-subtotal__final-price" data-cart-total>{{ cart.items_subtotal_price | money }}</h2> 
     
      </div>
      
      <div class="cart-header__inner">

        <h1 class="cart-header__title">{{ 'cart.general.title' | t }}</h1>
        <span class="cart-header__count">(<span data-cart-header-count>{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'Item', 'Items' }})</span>

        {% unless customer %}
          <div class="cart-header__login">
            Already have an account? <a class="text-link" href="{{ routes.account_login_url }}">Log in</a>
          </div>
        {% endunless %}
      </div>
      <div class="small--hide">
        <h3 class="cart__footer--header {% if cart.item_count == 0 %}hide{% endif %}">Order summary</h3>
      </div>
    </div>

    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart {% if cart.item_count == 0 %}hide{% endif %}">
      <div class="cart-main">
        
      <table>
        <thead class="cart__row cart__row--heading">
          <th scope="col">{{ 'cart.label.product' | t }}</th>
          <th class="text-right hidden-table-element" scope="col">{{ 'cart.label.price' | t }}</th>
          <th class="text-right small--hide" scope="col">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody data-cart-line-items>
          {%- for item in cart.items -%}
            <tr class="cart__row" data-cart-item data-cart-item-key="{{ item.key }}" data-cart-item-url="{{ item.product.first_available_variant.url }}" data-cart-item-title="{{ item.title }}" data-cart-item-index="{{ forloop.index }}" data-cart-item-quantity="{{ item.quantity }}" >
            
            <td class="cart__meta small--text-left" data-cart-table-cell>
                <div class="cart__product-information">
                  <div class="cart__image-wrapper">
                    <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                  </div>
                  <div>
                    <div class="list-view-item__title">
                      <a href="{{ item.product.first_available_variant.url }}" class="cart__product-title" data-cart-item-title data-role="product-title">
                        {{ item.product.title }}
                      </a>
                    </div>

                    {% if item.sku != blank %}
                    <div class="list-view-item" data-product-stars>
                      <!-- TrustBox widget - Product Mini Multisource -->
                      <div class="trustpilot-widget" data-locale="en-US" data-template-id="577258fb31f02306e4e3aaf9" data-businessunit-id="5df96c4c7890b800016789c7" data-style-height="24px" data-style-width="100%" data-theme="light" data-tags="SelectedReview" data-sku="{{item.sku}}" data-star-color="#0AA9FF" data-font-family="Open Sans" data-text-color="#232D37" data-no-reviews="hide" data-scroll-to-list="false">
                      </div>
                      <!-- End TrustBox widget -->
                    </div>
                    {% endif %}

                    {%- assign variant_options = 'template ' | split: ' ' -%}
                    {%- if item.product.has_only_default_variant != true -%}
                      {%- assign variant_options = item.options_with_values -%}
                    {%- endif -%}
                    {%- assign property_size = item.properties | size -%}
                 
                 {% if item.product.type == 'Test' %}
                   {% if item.variant.title contains "Mobile"  %}
                 <div class="information-container-cart" data-type-info >
                      <div class="extra-line-type-container test-line mobile-info-show">
                        <div class="message-line">
                         {% include "icon-information" %}
                               <div id="test-line" class="extra-line-type">
                                  
                                     {{ section.settings.extra_line_Mobile}}                    
                                 
                               </div>
                         </div>
                      </div>  
                 </div>
                 {%else%}
                  <div class="information-container-cart" data-type-info >
                       <div class="extra-line-type-container test-line test-info-show show-info-{{ item.quantity }}">
                         <div class="message-line">
                          {% include "icon-information" %}
                                <div id="test-line" class="extra-line-type">
                                  
                                      {{ section.settings.extra_line_Type}}
                                   
                                </div>
                          </div>
                       </div>  
                  </div>
                 {%endif%}
                     
                {% endif %}


                    {% if item.product.type == 'Results' %}
                    <div class="information-container-cart" data-type-info>
                         <div class="extra-line-type-container results-line">
                          <div class="message-line result-message">
                            {% include "icon-information" %}
                             <div id="results-line" class="extra-line-type">
                               {{ section.settings.extra_line_Results}}
                             </div>
                          </div>   
                         </div>
                    </div>
                    {% endif %}
                    {% if item.product.type == 'Data' %}
                    <div id="data-extra-line" class="information-container-cart" data-type-info>
                         <div class="extra-line-type-container results-data">
                          <div class="message-line data-message">
                            {% include "icon-information" %}
                             <div id="data-line" class="extra-line-type">
                               {{ section.settings.extra_line_Data}}
                             </div>
                          </div> 
                         </div>
                    </div>
                    {% endif %}
                    {% if item.product.title == 'DNA Kit' %}
                    <div id="kit-extra-line" class="information-container-cart" data-type-info>
                         <div class="extra-line-type-container test-line">
                            <div class="message-line">
                               {% include "deliverytruck" %}
                                  <div id="kit-line" class="extra-line-type">
                              
                                    {% for product in collections.all.products %}
                                  
                                      {%if product.title == 'DNA Kit' %}
                            
                                        {{ section.settings.extra_line_Kit}} is {{ product.metafields.estimated_delivery.minimum_days }} to {{ product.metafields.estimated_delivery.maximum_days }} days

                                      {%endif%}
                                    {%endfor%}                              
                                  </div>
                            </div> 
                         </div>
                    </div>
                    {% elsif item.product.title == 'Home Kit' %}
                    <div id="kit-extra-line" class="information-container-cart" data-type-info>
                       <div class="extra-line-type-container test-line">
                           <div class="message-line">
                              {% include "deliverytruck" %}
                                 <div id="kit-line" class="extra-line-type">
                           
                                   {% for product in collections.all.products %}
                               
                                       {%if product.title == 'Home Kit' %}
                         
                                         {{ section.settings.extra_line_Kit}} is {{ product.metafields.estimated_delivery.minimum_days }} to {{ product.metafields.estimated_delivery.maximum_days }} days

                                      {%endif%}
                                   {%endfor%}                              
                                 </div>
                            </div> 
                      </div>
                    </div>
                    {% elsif item.product.title == 'Immunity Home Kit' %}
                    <div id="kit-extra-line" class="information-container-cart" data-type-info>
                      <div class="extra-line-type-container test-line">
                        <div class="message-line">
                           {% include "deliverytruck" %}
                            <div id="kit-line" class="extra-line-type">
                           
                               {% for product in collections.all.products %}
                               
                                   {%if product.title == 'Immunity Home Kit' %}
                         
                                     {{ section.settings.extra_line_Kit}} is {{ product.metafields.estimated_delivery.minimum_days }} to {{ product.metafields.estimated_delivery.maximum_days }} days

                                  {%endif%}
                               {%endfor%}                              
                            </div>
                        </div> 
                      </div>
                    </div>
                    {% endif %}

                    <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 and item.selling_plan_allocation == nil %} hide{% endif %}" data-cart-item-details aria-label="{{ 'cart.label.product_details' | t }}">
                      {% assign has_addon = false %}
                      {% assign addon_present = false %}
                      {% if item.variant.title contains "InnerAge" %}
                        {% assign addon_present = true %}
                      {% endif %}
                      {%- for option in variant_options -%}
                        {% if option.name == 'AddOn' %}
                          {% assign has_addon = true %}
                          {% break %}
                        {% endif %}
                      {%- endfor -%}
                      {%- for option in variant_options -%}
                        <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant or option.value == "None" %} hide{% endif %}" data-cart-item-option>
                         {% unless option.name == "Blood Draw" or option.name == "Product" or option.name == "AddOn" %}
                            {{ option.name }}: {{ option.value }}
                          {% else %}
                            {{ option.value }}
                          {% endunless %}
                        </li>
                      {%- endfor -%}

                      <li
                        class="product-details__item product-details__item--property
                        {% if item.selling_plan_allocation == empty or item.selling_plan_allocation == blank %} hide {% endif %}"
                        data-cart-item-selling-plan-name
                      >
                        {{ item.selling_plan_allocation.selling_plan.name }}
                      </li>

                      {%- comment -%}
                        Optional, loop through custom product line items if available

                        Line item properties come in as having two parts. The first part will be passed with the default form,
                        but p.last is the actual custom property and may be blank. If it is, don't show it.

                        For more info on line item properties, visit:
                          - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                      {%- endcomment -%}

                      {%- assign properties = 'template ' | split: ' ' -%}
                      {%- if property_size > 0 -%}
                        {%- assign properties = item.properties -%}
                      {%- endif -%}

                      {%- for p in properties -%}
                        {% assign property_first_char = p.first | slice: 0 %}
                        <li class="product-details__item product-details__item--property product-details__item--property-{{ p.first | downcase }} 
                          {%if property_size == 0 or p.last == blank or property_first_char == '_' %} hide{% endif %}" data-cart-item-property>
                          <span class="product-details__item-label {% if p.first == "Province" or p.first == "Country" %} hide {% elsif p.first contains "province" or p.first contains "country"%} hide {% endif %}" data-cart-item-property-name>{{ p.first }}: </span>

                          {%- comment -%}
                            Check if there was an uploaded file associated
                          {%- endcomment -%}
                          <span data-cart-item-property-value>
                            {%- if p.last contains '/uploads/' -%}
                              <a href="{{ p.last }}" data-role="product-upload">{{ p.last | split: '/' | last }}</a>
                            {%- else -%}
                              {{ p.last }}{%- if p.first == "Province" or p.first contains "province"-%}, {% endif %}
                            {%- endif -%}
                          </span>
                        </li>
                        {% if p.first contains "AddOn" and p.last contains "InnerAge" %}
                          {% assign addon_present = true %}
                        {% endif %}
                      {%- endfor -%}
                    </ul>

                    <p class="cart__remove">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-cart-update data-role="product-remove">{{ 'cart.general.update' | t }}</a>
                      <span> | </span>
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-role="product-remove">{{ 'cart.general.remove' | t }}</a>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="cart__price text-right hidden-table-element">

                {%- assign hasDiscount = false -%}
                {%- if item.original_price != item.final_price -%}
                  {%- assign hasDiscount = true -%}
                {%- endif -%}

                <div data-cart-item-price>
                  <dl data-cart-item-price-list>
                    {%- comment -%}
                      Markup template for discount item
                    {%- endcomment -%}
                    <div {% unless hasDiscount %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd>
                        {% include 'icon-saletag' %}
                        <s data-cart-item-original-price>{{ item.original_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span class="order-discount" data-cart-item-final-price>{{ item.final_price | money }}</span>
                      </dd>
                    </div>

                    {%- comment -%}
                      Markup template for regular price item
                    {%- endcomment -%}
                    <div {% if hasDiscount %}class="hide" {% endif %}data-cart-item-regular-price-group>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd data-cart-item-regular-price>
                        {{ item.original_price | money }}
                      </dd>
                    </div>

                    {%- comment -%}
                      Markup template for unit price
                    {%- endcomment -%}
                    <div {% unless item.unit_price_measurement %}class="hide" {% endunless %}data-unit-price-group>
                      <dt>
                        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                      </dt>
                      <dd>
                        <span class="price-unit-price">
                          {%- capture unit_price_separator -%}
                            <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- endcapture -%}
                          {%- capture unit_price_base_unit -%}
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          {%- endcapture -%}

                          <span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}<span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
                        </span>
                      </dd>
                    </div>
                  </dl>
                </div>

                {%- assign itemDiscounts = 'template ' | split: ' ' -%}
                {%- if item.line_level_discount_allocations != blank -%}
                  {%- assign itemDiscounts = item.line_level_discount_allocations -%}
                {%- endif -%}

                <ul class="order-discount order-discount--list order-discount--title order-discount--cart{% if item.line_level_discount_allocations == blank %} hide{% endif %}" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
                  {%- for discount_allocation in itemDiscounts -%}
                    <li class="order-discount__item" data-cart-item-discount>
                      {% include 'icon-saletag' %}
                      <span data-cart-item-discount-title>
                        {{- discount_allocation.discount_application.title -}}
                      </span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                    </li>
                  {%- endfor -%}
                </ul>
              </td>
              <td class="cart__final-price text-right" data-cart-item-line-price>
                {%- comment -%}
                  Markup template for discount item
                {%- endcomment -%}
                <dl {% unless item.original_line_price != item.final_line_price %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
                  <dt>
                    <span class="visually-hidden">{{ 'cart.label.regular_total' | t }}</span>
                  </dt>
                  <dd>
                    {% include 'icon-saletag' %}
                    <s data-cart-item-original-price>{{ item.original_line_price | money }}</s>
                  </dd>
                  <dt>
                    <span class="visually-hidden">{{ 'cart.label.discounted_total' | t }}</span>
                  </dt>
                  <dd>
                    <span class="order-discount" data-cart-item-final-price>{{ item.final_line_price | money }}</span>
                  </dd>
                </dl >

                {%- comment -%}
                  Markup template for regular price item
                {%- endcomment -%}
                <div {% if item.original_line_price != item.final_line_price %}class="hide" {% endif %}data-cart-item-regular-price-group>
                  <span data-cart-item-regular-price>{{ item.original_line_price | money }}</span>
                </div>

                <div class="multiunit-discount-message" data-multiunit-discount-message>
                  {% assign has_discounts = false %}
                  {% for tag in item.product.tags %}
                    {% if tag contains "discount:" %}
                      {% assign has_discounts = true %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if has_discounts == true %}
                    {{ settings.buy_more_save_line_item_text }} <button id="popover-trigger" aria-describedby="popover-{{ item.variant_id }}" data-popper-trigger data-popper-controls="#popover-{{ item.variant_id }}-{{ forloop.index }}" data-product-id="{{ item.variant_id }}" class="text-link">{{ settings.buy_more_save_line_item_link_text }}</button>

                    {% render 'buy-more-popover', line_item_id: item.variant_id, line_item_index: forloop.index %}
                  {% endif %}
                </div>

                <div data-cart-quantity-wrapper>
                  <!-- QUANTITY -->
                  <div class="cart__quantity-td text-right small--hide">
                    <div class="cart__qty">
                      <label for="updates_large_{{ item.key }}" class="cart__qty-label" data-quantity-label-desktop>{{ 'cart.label.qty' | t }}</label>
                      <input id="updates_large_{{ item.key }}" class="cart__qty-input" type="number"
                        name="updates[]" value="{{ item.quantity }}" min="0" max="10" pattern="[0-9]*"
                        data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-desktop data-role="product-quantity-desktop">
                    </div>
                    <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--desktop hide" role="alert" data-cart-quantity-error-message-wrapper>
                      <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                      {% include 'icon-error' %}
                      <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
                    </div>
                  </div>

                  <!-- mobile -->
                  <div class="cart__qty medium-up--hide">
                    <label for="updates_{{ item.key }}" class="cart__qty-label" aria-label="{{ 'cart.label.qty' | t }}" data-quantity-label-mobile>
                      {{ 'cart.label.qty' | t }}
                    </label>
                    <input id="updates_{{ item.key }}" class="cart__qty-input" type="number"
                      value="{{ item.quantity }}" min="0" max="10" pattern="[0-9]*"
                      data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile data-role="product-quantity-mobile">
                  </div>
                  <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--mobile hide" role="alert" data-cart-quantity-error-message-wrapper>
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
                  </div>
                </div> 
                <!-- end quantity wrapper -->
              </td>
            </tr>

            {% if has_addon == true and addon_present == false %}
            
            <tr class="cart__row" data-product-addon data-for-product="{{ item.product.id }}" data-cart-item-index="{{ forloop.index }}">
              <td colspan="3">
                <div class="cart-product--addon">
                  <div class="cart-product--addon__inner">
                    {{ settings.innerage_addon_text }}
                    {% if settings.innerage_addon_learn_more != blank %}
                    <button class="text-link" data-innerage-addon-learn-more data-innerage-addon-product="{{item.product.handle}}" >{{ settings.innerage_addon_learn_more }}</button>
                    {% endif %}
                  </div>
                  {% if settings.innerage_addon_button != blank %}
                  <button data-innerage-addon-add-to-cart data-innerage-addon-linked-product-id="{{ item.variant_id }}" data-innerage-addon-linked-product-title="{{ item.product.title }}" data-innerage-addon-linked-product-index="{{ forloop.index0 }}"  class="button button--primary">{{ settings.innerage_addon_button }}</button>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endif %}
          {%- endfor -%}
        </tbody>
      </table>

      <div id="popover-overlay" aria-hidden="true" class="popover__overlay"></div>

      <a href="{{ routes.root_url }}" class="cart__continue-btn button button--primary-inverse">{{ 'general.404.link' | t }}</a>
    
     
{%render 'cart-recommendation'%} 
    </div>
  
      <div class="cart__footer">
        <div class="medium-up--hide">
          <h3 class="cart__footer--header {% if cart.item_count == 0 %}hide{% endif %}">Order summary</h3>
        </div>
        <div class="grid">
          {%- if section.settings.cart_notes_enable -%}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input" data-cart-notes>{{ cart.note }}</textarea>
            </div>
          {%- endif -%}
          <div class="grid__item small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">

            {%- assign cartDiscounts = 'template ' | split: ' ' -%}
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
            {%- endif -%}
            <div{% if cart.cart_level_discount_applications.size == 0 %} class="hide"{% endif %} data-cart-discount-wrapper>
              <div class="order-discount-card-wrapper" data-cart-discount>
                {%- for discount_application in cartDiscounts -%}
                  <span class="order-discount order-discount--title order-discount--cart">
                    {% include 'icon-saletag' %}<span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span><span data-cart-discount-title>{{- discount_application.title -}}</span>
                  </span>
                  <span class="order-discount order-discount--cart order-discount--cart-total">
                    -<span data-cart-discount-amount>{{ discount_application.total_allocated_amount | money }}</span>
                  </span>
                {%- endfor -%}
              </div>
            </div>

            <div class="cart-subtotal">
              <span class="cart-subtotal__title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart-subtotal__price" data-cart-subtotal>{{ cart.items_subtotal_price | money }}</span>
            </div>

            <div class="cart-subtotal cart-total-final">
              <span class="cart-subtotal__title">Total ({{ cart.currency.iso_code }})</span>
              <span class="cart-subtotal__price cart-subtotal__final-price" data-cart-total>{{ cart.total_price | money }}</span>
            </div>

            {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}
            <div class="cart__shipping rte">{{ taxes_shipping_checkout }}</div>
            <div class="cart__buttons-container">
              <div class="cart__submit-controls">
                {%- unless section.settings.cart_ajax_enable -%}
                <input type="submit" name="update"
                  class="cart__submit btn btn--secondary"
                  value="{{ 'cart.general.update' | t }}">
                {%- endunless -%}
                {% comment %} <input type="submit" name="checkout"
                  class="cart__submit btn btn--small-wide"
                  value="{{ 'cart.general.checkout' | t }}"> {% endcomment %}
                  <button class="button button--primary" id="checkout_btn">{{ 'cart.general.checkout' | t }}</button>
              </div>

              <div class="cart__error-message-wrapper hide" role="alert" data-cart-error-message-wrapper>
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span class="cart__error-message" data-cart-error-message></span>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
              {%- endif -%}

              <div class="giftcard-balance">
                <a class="text-link" href="{{ settings.check_giftcard_link }}">{{ settings.check_giftcard_text }}</a>
              </div>
            </div>

            {% if settings.customer_support_info != blank %}
              {% render 'customer-support-info' %} 
            {% endif %}
          </div>
        </div>
      </div>
    </form>

    <p class="visually-hidden" data-cart-status
      aria-live="polite"
      role="status"
    ></p>

    <div class="cart-bottom {% if cart.item_count == 0 %}hide{% endif %}">
      <div class="cart-bottom__inner">
        
      </div>
    </div>
  </div>

  <div class="empty-page-content{% if cart.item_count > 0 %} hide{% endif %} text-center" data-empty-page-content>
    <div class="empty-page-content__inner">
      <img src="https://cdn.shopify.com/s/files/1/0529/3185/4511/files/emptycart.png?v=1631192101" alt="emptycart">
      <h3 class="cart--empty-message">{{ 'cart.general.empty' | t }}</h3>
      <p class="cart--empty-message">{{ 'cart.general.empty_additional_text' | t }} <a href="mailto:{{ section.settings.customer_support_email}}" class="text-link">{{ section.settings.customer_support_info_headline }}</a></p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="{{ routes.root_url }}" class="cart__continue-btn button button--primary">{{ 'general.404.link' | t }}</a>
    </div>

    {% if settings.customer_support_info != blank %}
      {% render 'customer-support-info' %}
    {% endif %}
  </div>
</div>

<script>
  line_item_discounts = [
  {% for item in cart.items %}
    {% assign unit_price = item.variant.product.price | money_without_currency %}
      {
        'variant_id': '{{ item.variant_id }}',
        'discounts': [
          {%- for tag in item.product.tags -%}
              {%- if tag contains "discount" -%}
                {%- assign discount = tag | remove: "discount:_" -%}
                {%- assign discount = discount | split: "_" -%}
                {%- assign get_percent = discount[1] | times: unit_price -%}
                {
                  'quantity': '{{ discount[1] }}',
                  {%- if discount[0] == "value" -%}
                  'value': '{{ discount[2]}}',
                  'percent': '{{ discount[2] | divided_by: get_percent | times: 100 | round: 2}}'
                  {%- elsif discount[0] == "percentage" -%}
                    'value': '{{ discount[2] | plus: 0.00 | divided_by: 100 | round: 2 | times: get_percent  }}',
                    'percent': '{{ discount[2]}}'
                  {%- endif -%}
                }{% unless forloop.last %},{% endunless %}
              {%- endif -%}
            {%- endfor -%}
        ]
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ]
</script>

<script>
  let current_line_items = [
    {% for item in cart.items %}
    { 
      variant: '{{ item.variant_id }}',
      options: [
      {% for option in item.options_with_values %}
        {name : '{{option.name}}', value: '{{option.value}}'},
      {% endfor %}
    ]
    },
    {% endfor %}
  ]
</script>

<script>
  let product_json = [
    {% for item in cart.items %}
      {{ item.product | json }},
    {% endfor %}
  ]
</script>

<!-- const product_json_{{ forloop.index }} = [{{ item.product | json }}] -->


{% schema %}
{
  "name": {
    "cs": "Stránka košíku",
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página del carrito",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pl": "Strona koszyka",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้าสินค้า",
    "tr": "Sepet sayfası",
    "vi": "Trang giỏ hàng",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": {
        "cs": "Povolit automatické aktualizace košíku",
        "da": "Aktivér automatisk opdatering af indkøbskurv",
        "de": "Automatische Warenkorbaktualisierungen aktivieren",
        "en": "Enable automatic cart updates",
        "es": "Habilitar las actualizaciones automáticas del carrito",
        "fi": "Ota automaattinen ostoskorin päivitykset käyttöön",
        "fr": "Activer les mises à jour automatiques",
        "it": "Abilita aggiornamenti automatici carrello",
        "ja": "自動カートの更新を有効にする",
        "ko": "자동 카트 업데이트 활성화하기",
        "nb": "Aktiver automatiske oppdateringer av handlekurven",
        "nl": "Automatische winkelwagen-updates inschakelen",
        "pl": "Włącz automatyczne aktualizacje koszyka",
        "pt-BR": "Permitir atualizações automáticas do carrinho",
        "pt-PT": "Ativar atualizações automáticas do carrinho",
        "sv": "Aktivera automatiska uppdateringar av varukorgen",
        "th": "เปิดใช้การอัปเดตตะกร้าสินค้าอัตโนมัติ",
        "tr": "Otomatik sepet güncellemelerini etkinleştir",
        "vi": "Bật cập nhật giỏ hàng tự động",
        "zh-CN": "启用购物车自动更新功能",
        "zh-TW": "啟用自動更新購物車"
      },
      "info": {
        "cs": "Aktualizuje košík hned, jak zákazník provede změny.",
        "da": "Opdaterer indkøbskurven, så snart kunden foretager ændringer",
        "de": "Aktualisiert den Warenkorb, sobald Kundenänderungen vorgenommen werden",
        "en": "Updates the cart as soon as customer changes are made",
        "es": "Actualiza el carrito tan pronto como el cliente realice cambios",
        "fi": "Päivittää ostoskorin heti, kun asiakkaan muutokset on tehty",
        "fr": "Mise à jour du panier dès que les modifications apportées aux clients ont été effectuées",
        "it": "Aggiorna il carrello appena il cliente apporta le modifiche",
        "ja": "お客様が変更されるとすぐにカートを更新します",
        "ko": "고객 변경 시 카트를 업데이트합니다.",
        "nb": "Oppdaterer handlekurven så snart kundens endringer er gjort",
        "nl": "De winkelwagen wordt bijgewerkt zodra de klant wijzigingen aanbrengt",
        "pl": "Aktualizuje koszyk, gdy tylko wprowadzone zostaną zmiany u klienta",
        "pt-BR": "Atualiza o carrinho assim que o cliente faz alterações",
        "pt-PT": "Atualiza o carrinho assim que o cliente faz alterações",
        "sv": "Uppdaterar varukorgen så snart kundändringar görs",
        "th": "อัปเดตตะกร้าสินค้าเมื่อลูกค้าได้ทำการเปลี่ยนแปลง",
        "tr": "Müşteri değişiklikleri yapıldıktan sonra sepet güncellenir",
        "vi": "Cập nhật giỏ hàng ngay khi khách hàng thay đổi",
        "zh-CN": "客户做出更改后立即更新购物车",
        "zh-TW": "在顧客進行變更時立即更新購物車"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "cs": "Povolit poznámky ke košíku",
        "da": "Aktivér bemærkninger til indkøbskurv",
        "de": "Warenkorbanmerkungen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas del carrito",
        "fi": "Ota tilauskommentit käyttöön",
        "fr": "Activer les notes de panier",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "ko": "카트 참고 사항 사용",
        "nb": "Aktiver handlekurvmerknader",
        "nl": "Opmerkingen voor winkelwagen inschakelen",
        "pl": "Włącz uwagi dotyczące koszyka",
        "pt-BR": "Habilitar observações do carrinho",
        "pt-PT": "Ativar notas do carrinho",
        "sv": "Aktivera varukorgsmeddelanden",
        "th": "เปิดใช้หมายเหตุสำหรับตะกร้าสินค้า",
        "tr": "Sepet notlarını etkinleştir",
        "vi": "Bật ghi chú trong giỏ hàng",
        "zh-CN": "启用购物车备注",
        "zh-TW": "啟用購物車備註"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "extra_line_Type",
      "label": "Extra Line Tests",
      "default": "All tests must be used by the same person."
    },
    {
      "type": "text",
      "id": "extra_line_Mobile",
      "label": "Extra Line Mobile Blood Draw Selected",
      "default": "Your mobile blood draw appointment requires 14 days advance notice."
    },
    {
      "type": "text",
      "id": "extra_line_Results",
      "label": "Extra Line - Blood Results",
      "default": "InsideTracker can only analyze the biomarkers provided by a user, and we're unable to analyze any biomarkers outside of the included list. If you do not have results for the biomarkers on our list, we recommend that you purchase a plan with a blood test."
    },
    {
      "type": "text",
      "id": "extra_line_Data",
      "label": "Extra Line - DNA Data Upload",
      "default": "Your DNA report may not be as comprehensive as it would be if you took an InsideTracker DNA test. Depending on when your DNA was tested with, less genetic data may have been available for analysis. Due to advances in genetic technology, more recent tests provide more data, while older tests provide less data."
    },
    {
      "type": "text",
      "id": "extra_line_Kit",
      "label": "Extra Line - Home Kit - DNA Kit - Inmunity Kit ",
      "default": "Estimated delivery"
    }
  ]
}
{% endschema %}