{%- assign app_type = 'compare' -%}
<div id="vue-compare-app-root" class="vue-compare-app" data-app-type="{{ app_type }}" data-app-id="{{ section.id }}">
  <script id="{{ section.id }}-{{ app_type }}">

    let fullProductData = []
    {% for product in collections.compare-plans-page.products %}
      fullProductData.push({
        product: {{ product | json }}, 
        biomarkers: {{ product.metafields.biomarkers | json }}
      })
    {% endfor %}

    window
      .theme
      .vue
      .availableApps
      .push({
        type: "{{ app_type }}",
        id: "{{ section.id }}",
        data: {
          "settings": {{ section.settings | json }},
          "blocks": [{% for block in section.blocks %}{{ block.settings | json }},{% endfor %}],
          "allProducts": [{% for product in collections.compare-plans-page.products %}{{ product | json }},{% endfor %}],
          "allBiomarkers": [{% for product in collections.compare-plans-page.products %}{{ product.metafields.biomarkers | json }},{% endfor %}],
          "productsWithBiomarkers": fullProductData,
        }
      });
  </script>
</div> 

<div class="compare-products">
  <p class="availability-info">*{{ settings.us_blood_testing_info_message }} <button class="text-link" data-us-blood-draw data-custom-open="us-blood-modal">{{ settings.us_blood_learn_more }}</button></p>
</div>

<script>

let settingsData = {{ section.settings | json }}

</script>

{% schema %}
{
  "name": "Compare Plans",
  "class": "compare-plans",
  "settings": [
    {
      "type": "textarea",
      "id": "goalFilters",
      "label": "Filters. Comma-separated list, must match product tags",
      "default": "All, Overall Health, High Performance, Healthy Aging, Immunity"
    }
  ],
  "blocks": [
    
  ],
"presets": [
      {
        "name": "Home - Shop All App",
        "category": "Home"
      }
    ]
}

{% endschema %}

    {% comment %} {
      "type": "text",
      "id": "goal-filters",
      "label": "Filter by goal. Comma-separated list, must match product tags",
      "default": "All, Overall Health, High Performance, Healthy Aging, Immunity",
    },
    {
      "type": "text",
      "id": "other-filters",
      "label": "Other filters. Comma-separated list, must match product tags",
      "default": "Available worldwide, Best sellers, Bundles, At-home kits",
    }, {% endcomment %}